<meta http-equiv="refresh" content="0; url=technical_report.pdf" />
<!--Eliseu's work is available at: <a href="https://notabug.org/diogo/gnu-social/commits/v3?author=rainydaysavings">https://notabug.org/diogo/gnu-social/commits/v3?author=rainydaysavings</a>
<br><a href="GSSoC 2020 Certificate of Completion for Eliseu Amaro.pdf">GSSoC 2020 Certificate of Completion for Eliseu Amaro.pdf</a>
<br><a href="GSSoC 2020 Completion Verification Letter for Eliseu Amaro.pdf">GSSoC 2020 Completion Verification Letter for Eliseu Amaro.pdf</a>-->
