* {
  box-sizing: border-box;
  text-decoration: none;
  appearance: none;
}

.content-wrapper {
  grid-area: primary;
}
#entry-wrapper {
  grid-area: secundary;
}
header {
  grid-area: sidebar;
}
footer {
  grid-area: footer;
}

body {
  display: grid;
  grid-template-columns: 11vw auto auto;
  grid-template-rows: auto;
  grid-template-areas:
    "sidebar primary"
    "sidebar secundary"
    "sidebar footer footer";
  column-gap: 1.33rem;
}

header {
  position: fixed;
  width: max-content;
  height: 100%;
  background-color: #201e1f;
  top: 0;
  -webkit-box-shadow: 2px 5px 16px 0px rgba(34, 30, 34, 0.4),
    17px 26px 15px 0px rgba(0, 0, 0, 0);
  box-shadow: 2px 5px 16px 0px rgba(34, 30, 34, 0.4),
    17px 26px 15px 0px rgba(0, 0, 0, 0);
}

header b {
  font-weight: bold;
}

header a {
  display: block;
  width: 100%;
}

header .menu-list {
  margin-top: 1rem;
}

.header-main {
  margin: 0.5em 0.2em 0.2em 0.5em;
  border-radius: 3px 5px 5px 3px;
  font-size: 1.802rem;
  background: #a22430;
  padding: 0.2em 0.4em;
  width: min-content, auto;
  color: #f6f4f6;
  -webkit-box-shadow: 2px 5px 16px 0px rgba(34, 30, 34, 0.4),
    17px 26px 15px 0px rgba(0, 0, 0, 0);
  box-shadow: 2px 5px 16px 0px rgba(34, 30, 34, 0.4),
    17px 26px 15px 0px rgba(0, 0, 0, 0);
}

.header-main * {
  color: #f6f4f6;
}

.header-main img {
  height: 1em;
  margin-right: 4px;
}

.menu-link {
  color: #f6f4f6;
}

.menu-link:hover,
.menu-link:focus {
  color: #c8bcc8;
  transition: 500ms ease-in-out;
}

.menu-selected,
.menu-selected > a {
  color: #fff;
  font-weight: bolder;
}

.content-wrapper {
  /* Trust me */
  padding: 0 22vw 11vw 5rem;
  height: max-content;
}

.content-head {
  margin-top: 0.7em;
  line-height: 1.75;
}

/* Distancing itself from main content */
#entry-wrapper:first-of-type {
  padding-top: 0.666rem;
}

/* This is an individual section */
.entry-unit {
  padding-top: 1rem;
  border-top: 2px solid #221e2233;
}

/* This is an individual section */
.entry-unit h3 {
  margin-top: 0 !important;
}

.entry-unit:nth-of-type(n + 2) {
  margin-top: 2rem !important;
}

.entry-unit ul :last-child {
  margin-bottom: unset;
}

.entry-unit ul + p {
  margin-top: 1rem;
}

.entry-unit img {
  display: block;
  max-width: 800px;
  max-height: 400px;
  width: auto;
  height: auto;
  margin-top: 5px;
}

.allposts_header + ul :last-child {
  margin-bottom: 1rem;
}

.subtitle {
  margin-bottom: 2rem;
}

.content-wrapper h1,
.content-wrapper h2,
.content-wrapper h3,
.content-wrapper h4,
.content-wrapper h5,
.content-wrapper h6,
.content-wrapper label {
  font-family: "open_sansbold";
  font-weight: bold;
}

pre,
blockquote {
  color: #666666;
  margin: 0;
  padding-left: 1em;
  border-left: 0.3em #aaa solid;
}

pre {
  font-family: monospace;
  margin-bottom: 1rem;
  white-space: pre;
  overflow-x: scroll;
}

s:after {
  font-size: 1em;
  content: "\2713";
  padding: 0 4px;
  border-radius: 3px;
  margin-left: 4px;
  color: #201e1f;
}

footer {
  padding: 1rem;
  background: #201e1f;
  color: #e9eaed;
  position: fixed;
  width: 100%;
  bottom: 0;
  grid-column-start: sidebar-start;
  height: max-content;
}

footer a {
  font-family: "open_sansbold";
  font-weight: bold;
  color: #e9eaed;
}

.content-wrapper img {
  max-width: 100%;
}

@media screen and (max-width: 767px) {
  body {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
      "sidebar"
      "primary"
      "secundary"
      "footer";
  }

  header {
    box-sizing: border-box;
    position: relative;
    background-color: #201e1f;
    width: 100vw;
    height: max-content;
    padding-bottom: 1rem;
    margin-bottom: 0;
    border-radius: 0 0 5px 5px;
  }

  header a {
    display: inline-block;
  }

  header .menu-list {
    margin-top: 0;
  }

  header .header-main {
    left: 0;
    margin: 0 0 0.5rem 0;
    border-radius: 0 0 5px 5px;
  }

  #entry-wrapper {
    padding: 1rem;
  }

  .content-wrapper {
    padding: 1rem 1rem 2rem 1rem;
  }

  footer {
    position: relative;
  }
}
