@media (pointer:fine) {
  body {
      font-kerning: auto;
      text-rendering: optimizeLegibility;
  }
}

* {
  box-sizing: border-box;
}
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
body,
html,
p,
blockquote,
fieldset,
input,
textarea {
  margin: 0;
  padding: 0;
  border: none;
}
a img,
:link img,
:visited img {
  border: none;
}
:focus {
  outline: none;
}
::-moz-focus-inner {
  border: 0;
}
form {
  all: unset;
}
html {
  font-size: 100%;
}
body,
html {
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "open_sansregular", sans-serif;
  font-weight: 400;
  line-height: 1.75;
  color: #221e22;
  background-color: #f6f4f6;
}
a {
  text-decoration: none !important;
  color: #A6263E;
}
a:hover,
a:focus {
  text-decoration-line: underline !important;
  transition: 500ms ease-in-out;
}
a:active {
  text-decoration-line: underline !important;
}
b {
    font-family: 'open_sansbold';
    font-weight: bold;
}
h1,
h2,
h3,
h4,
h5,
h6,
label {
  color: #3f3b3b;
}
p {
  margin-bottom: 1rem;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 3rem 0 1.38rem;
  font-weight: 400;
  line-height: 1.3;
}
h1 {
  margin-top: 0;
  font-size: 1.802rem;
}
h2 {
  font-size: 1.602rem;
}
h3 {
  font-size: 1.424rem;
}
h4 {
  font-size: 1.266rem;
}
h5 {
  font-size: 1.125rem;
}
small,
.text_small {
  font-size: 0.889rem;
}
ul li {
  margin-left: 2rem;
  line-height: 1.75;
}
