* {
  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  box-sizing: border-box !important;
  scroll-margin: 5rem;
}

a img,
:link img,
:visited img {
  border: none;
}

:focus {
  outline: none;
}

::-moz-focus-inner {
  border: 0;
}

form {
  all: unset;
}

ul li {
  margin-left: 1rem !important;
}

body,
html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  font-size: 1rem;
  font-family: "open_sansregular", sans-serif;
  color: #221e22;
  background-color: #f6f4f6;
}

body * {
  position: relative;
}

header {
  z-index: 66;
  position: fixed;
  font-size: 1.25rem;
  font-weight: bold;
  background: #a22430;
  max-height: 4rem;
  width: 100%;
  top: 0;
  left: 0;
  padding: 0.5rem 1rem 0.5rem 1rem;

  box-shadow: 0 1px 1px rgba(162, 36, 48, 0.1), 0 2px 2px rgba(162, 36, 48, 0.1),
    0 4px 4px rgba(162, 36, 48, 0.1), 0 8px 8px rgba(162, 36, 48, 0.1),
    0 16px 16px rgba(162, 36, 48, 0.1);
}

header ul {
  list-style: none;
}

header * {
  font-size: inherit;
  color: #f6f4f6;
  height: 100vh;
  max-height: 2rem;
  display: flex;
  align-items: center;
}

.home-menu {
  display: flex;
  justify-content: space-between;
}

.menu-heading {
  display: flex;
  color: #f6f4f6;
}

.menu-heading img {
  height: 1.25rem;
}

.menu-link {
  padding: 2px 12px;
  font-size: 0.8em;
  color: #f6f4f6;
  font-family: "open_sansbold", sans-serif;
  border-radius: 0.5rem;
  box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075), 0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075), 0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);
}

.menu-link:focus,
.menu-link:hover,
.ribbon-content a:focus,
.ribbon-content a:hover {
  text-decoration: none !important;
  box-shadow: inset 0 1px 1px hsl(0deg 0% 0% / 0.075), inset 0 2px 2px hsl(0deg 0% 0% / 0.075), inset 0 4px 4px hsl(0deg 0% 0% / 0.075), inset 0 8px 8px hsl(0deg 0% 0% / 0.075), inset 0 16px 16px hsl(0deg 0% 0% / 0.075);
}

.splash-container {
  margin-top: 3rem;
}

.button {
  background-color: #221e22ee;
  border-radius: 0.5rem;
  padding: 4px 8px;
  color: #f6f4f6;
  float: inline-end;
  width: max-content;
  box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);
}

hr {
  float: inline-start;
  margin-bottom: 1rem;
  width: 100%;
  color: snow;
}

#log-of-past-successes {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 2000px) and (min-height: 1000px) {
  .content,
  .content-team {
    padding-left: 20% !important;
    padding-right: 20% !important;
  }
}

@media screen and (min-width: 800px) {
  .l-box {
    margin-right: 4rem;
  }
}

@media screen and (max-width: 800px) {
  .menu-list {
    font-size: 1rem !important;
  }

  .content,
  .content ~ * {
    top: unset !important;
    padding-top: 0 !important;
    position: relative !important;
  }

  .soc {
    top: 3rem !important;
    height: calc(100vh - 4rem);
  }

  .splash-head {
    font-size: 3rem !important;
  }

  .splash-head img {
    height: 3rem !important;
    width: 3rem !important;
  }

  .content,
  .ribbon-wrapper,
  .content-team {
    padding: 1.5rem !important;
  }

  .content-team .g .l-box-lrg:last-child {
    flex: 1 !important;
    word-break: keep-all;
    white-space: nowrap;
  }

  .l-box {
    margin-right: 1rem;
  }

  footer {
    position: relative !important;
  }
}

.body-wrapper {
  margin-top: 3rem;
}

.body-wrapper a {
  font-family: "open_sansbold", sans-serif;
  font-weight: bold;
}

.splash {
  text-align: center;
  padding: 1rem;
  background-color: #f6f4f6;
}

.splash-head {
  display: inline-flex;
  flex-wrap: wrap;
  width: border-box;
  justify-content: center;
  align-items: center;
  font-size: 6rem;
  color: #a22430;
  cursor: default;
  margin-bottom: 1rem;
}

.splash-head img {
  height: 6rem;
  width: 6rem;
  margin-right: 5px;
}

.content-head {
  font-family: "open_sansbold", sans-serif;
}

.content {
  z-index: 2;
  position: sticky;
  padding: 3rem;
  background-color: #e9eaed;
}

[class^="content"] h1 {
  font-family: "open_sansbold", sans-serif;
}

h2 {
  font-family: "open_sansbold", sans-serif !important;
  margin: 0.4em 0 0.2em 0 !important;
}

.is-center {
  text-align: center;
}

.content .g {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.content .g .l-box {
  flex: 1;
  min-width: 10rem;
}

.content ~ * {
  z-index: 3;
  position: sticky;
}

.ribbon-wrapper {
  background-color: #f6f4f6;
  padding: 4rem;
}

.ribbon {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.ribbon img {
  min-width: 15rem;
  max-height: 200px;
  margin: 0 2rem 2rem 2rem;
}

.ribbon-content h2 {
  margin-top: unset;
}

.ribbon-content a {
  background-color: #a22430;
  color: #f6f4f6;
  padding: 4px 12px;
  margin-right: 4px;
  border-radius: 0.5rem;
  box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);
}

.card {
  background-color: #f6f4f666;
  padding: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);
}

.card h1,.card h2,.card h3,.card h {
  margin-top: unset;
}

.content-team {
  z-index: 3;
  position: sticky;
  top: 4rem;
  padding: 4rem;
  background-color: #e9eaed;
}

.content-team .g {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.content-team .g .l-box-lrg {
  text-align: justify-all;
  padding-inline-end: 2rem;
}

.content-team .g .l-box-lrg:first-child {
  flex: 1;
  min-width: 20rem;
}

.content-team .g .l-box-lrg:nth-child(2) {
  flex: 1;
}

.content-team .g .l-box-lrg:last-child {
  flex: 0.5;
}

#nodes {
  display: flex;
  flex-direction: column;
  border-collapse: collapse;
  padding-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  max-width: max-content;
  width: 100%;
}

#nodes td,
#nodes th {
  width: 100%;
  border: 1px solid #ddd;
  padding: 6px 12px;
}

#nodes tr:nth-child(even) {
  background-color: #f6f4f6;
}

#nodes tr:nth-child(odd) {
  background-color: #eeeeee;
}

#nodes tr:hover {
  background-color: #e9eaed;
}

#nodes th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #a22430;
  color: #f6f4f6;
}

.footer {
  width: 100%;
  padding: 1rem;
  background-color: #333333;
  color: #e9eaed;
}

.footer a {
  font-family: "open_sansbold", sans-serif;
  font-weight: bold;
  color: #e9eaed;
}
