---
layout: default
---
<div id="content-left">
	<h2 class="subtitle">The Project</h2>
	GNU social is a continuation of the StatusNet project.
	It is a social communication software for public and private
	communications. It is widely supported and has a large userbase
	including the <a href="https://status.fsf.org/">Free Software Foundation</a>.
	<p>
		GNU social connects you to a free network of thousands of communities that discuss daily on a variety of
		topics, each being part of the whole.
	</p>
	<br>
	<h2 class="subtitle">Features</h2>
	<ul>
		<li>
			<h3><b>Versatile.</b></h3>
			GNU social supports both single-user and community modes and can
			be used in an intranet environment or as part of the wider Free
			Network.
		</li>
		<li>
			<h3><b>Stable.</b></h3>
			GNU social has been used in production environments for over ten
			years.
		</li>
		<li>
			<h3><b>Plug and Play.</b></h3>
			Because GNU social is minimal and libre, it runs virtually
			anywhere you can run a common piece of web software, such as
			WordPress or Drupal. JavaScript is optional.
		</li>
		<li>
			<h3><b>Privacy focused.</b></h3>
			GNU social is part of the GNU project, it's 100% free software,
			with no malicious features or spyware.
		</li>
	</ul>
</div>

<div id="content-right">
	<h2 class="subtitle">FAQ</h2>
	<ul>
		<li>
			<h3><b>Where can I join GNU social?</b></h3>
			There are many kinds of GNU social server instances online right now!
			<p>
			<a href="/communities">Click here</a> to see a list of popular GNU social sites you can join!
			<br>
			Disclaimer: Please note that the GNU social development team is not responsible for the operation or content of sites that run its software.
			</p>	
		</li>
		<li>
			<h3><b>Who makes GNU social?</b></h3>
			GNU social has been used in production environments for over ten
			years.
		</li>
	<br>
	<h2 class="subtitle">Support the Project</h2>
	<ul>
		<li>
			<h3><b>Liberapay</b></h3>
			<a href="https://liberapay.com/diogo/donate">Donate</a> to the project lead developer, <a href="#">Diogo Cordeiro</a>, with Liberapay
		</li>
		<li>
			<h3><b>Merchandising</b></h3>
			Buy your own GNU social t-shirt at <a href="https://hackersatporto.teemill.com/collection/gnu-social/">Hackers at Porto Clothing</a>
		</li>
		<li>
			<h3><b>Logos</b></h3>
			<a href="/assets/tgz/logos.tar.gz">gs-logos.tar.gz</a> (14.2 kB)
		</li>
</div>
