<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GNU social - a free social networking platform</title>
    <link href="{{site.baseurl}}/assets/css/common.css" rel="stylesheet" media="screen and (min-width: 1750px)">
    <link href="{{site.baseurl}}/assets/css/mid.css" rel="stylesheet" media="screen and (max-width: 1750px)">
    <link href="{{site.baseurl}}/assets/css/smol.css" rel="stylesheet" media="screen and (max-width: 1225px)">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;800&family=Open+Sans&display=swap" rel="stylesheet">
</head>

<body>
    <div class="container">
        <nav class="social"> 
            <ul>
                <li>
                    <a href="#" class="hover-effect">
                        <h1 style="display: inline;margin-right: 5px;"><img src="{{site.baseurl}}/assets/imgs/logo.png" height="25em" style="margin-right: 10px;">GNU social</h1>
                        <h5 style="display: inline;">▼</h5>
                    </a>
                        <ul>
                            <li><a href="{{site.baseurl}}/index.html">About</a></li>
                            <li><a href="https://notabug.org/diogo/gnu-social/src/nightly/DOCUMENTATION/SYSTEM_ADMINISTRATORS/CONFIGURE.md">Documentation</a></li>
                            <li><a href="https://notabug.org/diogo/gnu-social/src/nightly/DOCUMENTATION/DEVELOPERS">Contributing</a></li>
                        </ul> 
                </li>
            </ul>
        </nav>

        <div class="center">
            <h3 class="emphasis">_The <a href="">free/libre</a> software social networking platform</h2>
            <section id="btns" class="aligncenter">
                <div class="buttons">
                    <a href="https://notabug.org/diogo/gnu-social/src/nightly/INSTALL.md">
                        <button class="btn-1">INSTALL</button>
                    </a>
                    <a href="/communities">
                        <button class="btn-1">JOIN</button>
                    </a>
                </div>
            </section>            
        </div>

        <nav class="gnu"> 
            <ul>
                <li>
                    <a href="#">
                        <h1 style="display: inline;margin-right: 5px;">_GNU</h1>
                        <h5 style="display: inline;">▼</h5>
                    </a>
                        <ul>
                            <li><a href="https://gnu.org/gnu/gnu.html">About</a></li>
                            <li><a href="https://gnu.org/philosophy/philosophy.html">Philosophy</a></li>
                            <li><a href="https://gnu.org/licenses/licenses.html">Licenses</a></li>
                            <li><a href="https://gnu.org/education/education.html">Education</a></li>
                            <li><a href="https://gnu.org/software/software.html">Software</a></li>
                            <li><a href="https://gnu.org/doc/doc.html">Documentation</a></li>
                            <li><a href="https://gnu.org/help/help.html">Help GNU</a></li>
                            <li><a href="https://www.fsf.org/associate/support_freedom"><b>JOIN THE FSF</b></a></li>
                        </ul> 
                </li>
            </ul>
        </nav>

            {{content}}

        <div id="footer">
            <h6>Design by <a href="https://loadaverage.org/portableskelly">Eliseu Amaro</a>.
                <br>
                Copyright 2010-2019 <a href="https://fsf.org/">Free Software Foundation</a>, Inc.
                51 Franklin St, Fifth Floor, Boston, MA 02110, USA
                <br>
                This website is licensed under the <a href="https://creativecommons.org/licenses/by-sa/4.0">CC-BY-SA</a> License.
            </h6>
        </div>
    </div>
</body>
</html>
