<meta http-equiv="refresh" content="0; url=technical_report.pdf" />
<!--Hugo's work is available at: <a href="https://notabug.org/diogo/gnu-social/commits/v3?author=someonewithpc">https://notabug.org/diogo/gnu-social/commits/v3?author=someonewithpc</a>
<br><a href="GSSoC 2020 Certificate of Completion for Hugo Sales.pdf">GSSoC 2020 Certificate of Completion for Hugo Sales.pdf</a>-->
